/* No advanced CSS, as requested. Keeping it clean and simple. */
body {
    background-color: white;
    font-family: Garamond;
    color: black;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
}
main img {
    max-width: 100%;
}