<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | lsinxl</title>
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg">
    <link rel="stylesheet" href="/css/style.css?v=4">
    
</head>

<body>
    <main>
        <header
            style="margin-bottom: 2em; border-bottom: 1px solid #ffa600; padding-bottom: 1em; align-items: center; justify-content: center; text-align: center;">
            <h1>lsinxl</h1>
            <h4 style="text-align: center;">gpg-fingerprint: E6D1203839F963787A5A0DCEA20A2824BBE013AB</h4>
            <a href="https://github.com/yasansvr" target="_blank">GitHub</a> |
            <a href="https://www.linkedin.com/in/yasansavari/" target="_blank">LinkedIn</a> |
            <a href="mailto:yasansvr@outlook.com">Email</a> |
            <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/E6D1203839F963787A5A0DCEA20A2824BBE013AB">gpg-pb file</a>
        </header>

        <section id="content">
            <aside id="toc">
                {{ .TableOfContents }}
            </aside>
            <div class="content">
                {{ .Content }}
            </div>
            
            <div style="margin-top: 3em; text-align: center;">
                <a href="/">back to home</a>
            </div>
        </section>

    </main>
</body>

</html>
