<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasansvr</title>
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg">
    <link rel="stylesheet" href="/css/style.css?v=3">
    
</head>

<body>
    <main>
        <header
            style="margin-bottom: 2em; border-bottom: 1px solid #ffa600; padding-bottom: 1em; align-items: center; justify-content: center; text-align: center;">
            <h1>lsinxl</h1>
            <a href="https://github.com/yasansvr" target="_blank">GitHub</a> |
            <a href="https://www.linkedin.com/in/yasansavari/" target="_blank">LinkedIn</a> |
            <a href="mailto:yasansvr@outlook.com">Email</a>
        </header>

        <section id="daily">
            {{ with .Site.GetPage "daily" }}
            <aside id="toc">
                {{ .TableOfContents }}
            </aside>
            <div class="content">
                {{ .Content }}
            </div>
            {{ else }}<p>No daily content.</p>{{ end }}
        </section>

    </main>
</body>

</html>